

<!-- <ol>
    <li *ngFor="let message of messages">
        {{message}}
    </li>
</ol> -->
<p>{{dependencyTitle}}</p>

<button (click)="currentValue = currentValue + 1">Increment Value</button>
<app-list [value]="currentValue"></app-list>

<!-- <app-gallery></app-gallery> -->

<h1>Demo App</h1>
<hr />
<strong>Example List Item:</strong>
<!-- {{biponIP}} -->
<ul>
    <li *ngFor="let item of dataItems">
        {{item.title}}
    </li> 
</ul>





<app-item-one-obser></app-item-one-obser>
<app-item-two-obser></app-item-two-obser>
<app-item-three-obser></app-item-three-obser>


<!-- <app-image-component></app-image-component>

<app-image-component></app-image-component> -->




<div>
    <input type="text" test-directive (keyup)="keyup($event)" />
</div>

<p   [test-directive]="color">Highlight me!</p>

<p [test-directive]="color" defaultColor="violet">
  Highlight me too!
</p>

<hr>
<p><i>Mouse over the following lines to see fixed highlights</i></p>
<p [test-directive]="'yellow'">Highlighted in yellow</p>
<p [test-directive]="'orange'">Highlighted in orange</p>




<!-- <p>
    <label for="showPanelCheck">Show Panel?</label>
    <input id="showPanelCheck" type="checkbox" [(ngModel)]="showPanel" />
</p>
<p *ngIf="showPanel">
    OWW! MY Panel is Shown
</p>

<p [ngClass]="getClasses()">
    Dummy Custom Classes
</p>

<p [ngStyle]="getStyles()">
    Dummy Custom Styles
</p> -->

<!-- <h2>{{title}}</h2>
<form>
    <fieldset>
        <legend>Indicator</legend>
        <input type="checkbox" [(ngModel)]="indicator" />
    </fieldset>
    <fieldset>
        <legend>Count</legend>
        <input type="range" min="0" max="5" step="1" [(ngModel)]="count" />
    </fieldset>
    <fieldset>
        <legend>Name List</legend>
        <ol>
            <li *ngFor="let name of nameList">
                {{name}}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Results</legend>
        <ul>
            <li><strong>Indicator:</strong> {{indicator}}</li>
            <li><strong>Count:</strong> {{count}}</li>
            <li><strong>Title:</strong> {{title}}</li>
            <li><strong>Name List:</strong>  {{nameList}}</li>
        </ul>
    </fieldset>
</form> -->

